.subscription-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
}

.card {
    text-align: center;
    width: 18rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:focus,
.card:hover {
    outline: 3px dashed #737b87; 
}

.card-img-top {
    width: 100%;
    height: auto; 
}

#save {
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 10px 10px 25px 10px;
}

#save:hover {
    background-color: #fff;
    color: #000000;
    border: 2px dashed #000000;
}

.card.selected {
    border: 5px dashed #000000;
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.4);
    transform: scale(1.05);
    background-color: black;
    color: white;
}
