/* Default font sizes */
:root {
    --font-size-base: 20px;
    --font-size-h1: 32px;
    --font-size-h2: 28px;
    --font-size-h3: 24px;
    --font-size-p: 16px;
}

/* Font size themes */
html[data-font-size="small"] {
    --font-size-base: 16px;
    --font-size-h1: 26px;
    --font-size-h2: 22px;
    --font-size-h3: 20px;
    --font-size-p: 12px;
}

html[data-font-size="medium"] {
    --font-size-base: 20px;
    --font-size-h1: 32px;
    --font-size-h2: 28px;
    --font-size-h3: 24px;
    --font-size-p: 16px;
}

html[data-font-size="large"] {
    --font-size-base: 24px;
    --font-size-h1: 34px;
    --font-size-h2: 30px;
    --font-size-h3: 26px;
    --font-size-p: 20px;
}

html[data-font-size="extra-large"] {
    --font-size-base: 28px;
    --font-size-h1: 42px;
    --font-size-h2: 36px;
    --font-size-h3: 32px;
    --font-size-p: 24px;
}

/* Apply font size globally */
body {
    font-size: var(--font-size-base, 20px) !important;
}

h1 {
    font-size: var(--font-size-h1, 32px) !important;
}

h2 {
    font-size: var(--font-size-h2, 28px) !important;
}

h3 {
    font-size: var(--font-size-h3, 24px) !important;
}

p,
ul,
li,
a,
label,
button,
input,
input::placeholder {
    font-size: var(--font-size-p, 16px) !important;
}